*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#f5f5f5;
}

/* LOADER */

#loader{
position:fixed;
width:100%;
height:100%;
background:#081f45;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
color:white;
}

.loader-container{
text-align:center;
}

/* CIRCLE */

.circle-box{
position:relative;
width:220px;
height:220px;
margin:auto;
}

.circle-box svg{
transform:rotate(-90deg);
}

.circle-bg{
fill:none;
stroke:#2f2f2f;
stroke-width:10;
}

#progress-bar{
fill:none;
stroke:#00aaff;
stroke-width:10;
stroke-dasharray:628;
stroke-dashoffset:628;
transition:stroke-dashoffset .25s;
}

/* LOGO */

.loader-logo{
position:absolute;
width:120px;
height:120px;
border-radius:50%;
top:50%;
left:50%;
transform:translate(-50%,-50%);
object-fit:cover;
}

/* TITLE */

.loader-title{
margin-top:25px;
font-size:34px;
letter-spacing:3px;
color:#FFD000;
}

/* PERCENT */

.loader-percent{
margin-top:10px;
font-size:28px;
}

/* WEBSITE */

#website{
display:none;
padding:100px;
text-align:center;
}

/* REVEAL ANIMATION */

.reveal{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}
